@model weWork.Models.SummaryModel

@{
    ViewBag.Title = "Home Page";
}

<div id="content">
    <div id="site_intro">
        A community-edited guide to the <span class="awesome">awesome creative, technology, and business community</span>
        of the GTA
    </div>
    @Html.Partial("_SummaryPartial", Model);
</div>
