<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://weworkinthegta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WeWorkInTheGTA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WeWorkInTheGTA</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User ID=weworkadmin@xpxd22l2bd;Password=Export1313" Name="Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User Id=weworkadmin@xpxd22l2bd;Password=Export1313" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="weWork.Models.UsersContext, weWork" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="weWorkEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User ID=weworkadmin@xpxd22l2bd;Password=Export1313" Name="Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User Id=weworkadmin@xpxd22l2bd;Password=Export1313" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WeWorkModel.weWorkEntities, WeWorkModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User Id=weworkadmin@xpxd22l2bd;Password=Export1313</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)weWorkEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/WeWorkModel.csdl|res://*/WeWorkModel.ssdl|res://*/WeWorkModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:xpxd22l2bd.database.windows.net,1433;Initial Catalog=WeWorkDB;User Id=weworkadmin@xpxd22l2bd;Password=Export1313"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>