<div class="section_header">
    <h1>
<span class="count">450 </span>
Companies
</h1>
<a class="new" href="/companies/new">+ Add a Company</a>
    <div id="view_options">
        <span class="sorting">
            <strong>Sort by:</strong>
            <a class="name asc" href="/companies?column=name&order=asc">Name</a>
            ,
            <a class="created_at current asc" href="/companies?column=created_at&order=asc">Date added</a>
            ,
            <a class="random asc" href="/companies?column=random&order=asc">Random</a>
        </span>
    </div>
    <a class="new" href="/companies/map">Map</a>
</div>